<div class="main-cont">

	<h1>Access Denied</h1>
	<div class="sub-cont">
		<h3>You cannot access this route/page. Please make sure you are authenticated to access this.</h3>
		<button>
			
		<a asp-controller="Account" asp-action="Login">Login</a>
		</button>
	</div>

</div>
